services:
  traefik:
    image: traefik:v3.4
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ~/.docker/run/docker.sock:/var/run/docker.sock:ro
      - ./plugins:/plugins-local:ro
      - ./maintenance:/etc/traefik/maintenance:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=PathPrefix(`/`)"
      - "traefik.http.routers.api.service=api@internal"
  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
  echo-server:
    image: ealen/echo-server
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.echo.entrypoints=http"
      - "traefik.http.routers.echo.rule=PathPrefix(`/static`)"
      - "traefik.http.services.echo.loadbalancer.server.port=80"
